
.owl-loaded{
    position: relative;
    padding-bottom: 30px;
    .owl-stage{
        display: flex;
        flex-direction: row;
    }
    .owl-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .owl-prev{
            position: absolute;
            left: 0;
            &:lang(ar){
                left: auto;
                right: 0;
            }
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            width: 50px;
            height: 50px;
            font-size: 50px;
            color: #7134BD;
        }
        .owl-next{
            position: absolute;
            right: 0;
            &:lang(ar){
                left: 0;
                right: auto;
            }
            border: none;
            background: none;
            padding: 0;
            margin: 0;
            width: 50px;
            height: 50px;
            font-size: 50px;
            color: #7134BD;
        }
    }
    .owl-dots{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        button{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #7134BD;
            opacity: 0.5;
            margin: 0 2.5px;
            border: none;
            &.active{
                opacity: 1;
            }
        }
    }
}
.home-page{
    .homeCarousel{
        overflow: hidden;
        width: 100%;
    }
}

.department {
    .head-section{
        position: relative;
        height: 500px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h1{
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY( -50%);
            color: #000000;
            font-size: 50px;
            font-weight: 700;
            z-index: 1;
            &:lang(ar){
                text-align: right;
                right: 5%;
                left: auto;
            }
        }
    }
    .description-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .description{
            width: fit-content;
            padding: 20px;
        }
    }
}
.hospital , .hotel {
    .appointment-wrap{
        @media screen and (max-width: 767px){
            flex-direction: column-reverse;
        }
    }
}